Freed.Presentacion/Service References/FreedServices/FreedServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53201/FreedServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" />
  <xs:import schemaLocation="http://localhost:53201/FreedServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" />
  <xs:element name="listarGrupo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarGrupoResult" nillable="true" type="q1:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="group" nillable="true" type="q2:grupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearGrupoResult" nillable="true" type="q3:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="group" nillable="true" type="q4:grupoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarGrupoResult" nillable="true" type="q5:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerGrupoResult" nillable="true" type="q6:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarGrupoResult" nillable="true" type="q7:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarConfiguracion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarConfiguracionResult" nillable="true" type="q8:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q9:configuracionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearConfiguracionResult" nillable="true" type="q10:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q11:configuracionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarConfiguracionResult" nillable="true" type="q12:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerConfiguracionResult" nillable="true" type="q13:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarConfiguracionResult" nillable="true" type="q14:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarClienteResult" nillable="true" type="q15:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q16:clienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearClienteResult" nillable="true" type="q17:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q18:clienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarClienteResult" nillable="true" type="q19:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerClienteResult" nillable="true" type="q20:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarClienteResult" nillable="true" type="q21:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarConfiguracionCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarConfiguracionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarConfiguracionClienteResult" nillable="true" type="q22:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearConfiguracionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q23:configuracionClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearConfiguracionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearConfiguracionClienteResult" nillable="true" type="q24:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarConfiguracionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="config" nillable="true" type="q25:configuracionClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarConfiguracionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarConfiguracionClienteResult" nillable="true" type="q26:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerConfiguracionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerConfiguracionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerConfiguracionClienteResult" nillable="true" type="q27:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarConfiguracionClienteResult" nillable="true" type="q28:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarActividad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarActividadResult" nillable="true" type="q29:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="activity" nillable="true" type="q30:actividadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearActividadResult" nillable="true" type="q31:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="activity" nillable="true" type="q32:actividadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarActividadResult" nillable="true" type="q33:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerActividadResult" nillable="true" type="q34:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarActividadResult" nillable="true" type="q35:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarPersonaResult" nillable="true" type="q36:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarRolResult" nillable="true" type="q37:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="rol" nillable="true" type="q38:rolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearRolResult" nillable="true" type="q39:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="rol" nillable="true" type="q40:rolDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarRolResult" nillable="true" type="q41:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerRolResult" nillable="true" type="q42:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarRolResult" nillable="true" type="q43:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFactura">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarFacturaResult" nillable="true" type="q44:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="invoice" nillable="true" type="q45:facturaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearFacturaResult" nillable="true" type="q46:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="invoice" nillable="true" type="q47:facturaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarFacturaResult" nillable="true" type="q48:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerFacturaResult" nillable="true" type="q49:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarFacturaResult" nillable="true" type="q50:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarPaqueteResult" nillable="true" type="q51:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="package" nillable="true" type="q52:paqueteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearPaqueteResult" nillable="true" type="q53:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="package" nillable="true" type="q54:paqueteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarPaqueteResult" nillable="true" type="q55:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerPaqueteResult" nillable="true" type="q56:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarPaqueteResult" nillable="true" type="q57:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarCostoResult" nillable="true" type="q58:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="cost" nillable="true" type="q59:costoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearCostoResult" nillable="true" type="q60:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="cost" nillable="true" type="q61:costoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarCostoResult" nillable="true" type="q62:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerCostoResult" nillable="true" type="q63:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarCostoResult" nillable="true" type="q64:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarInfoAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarInfoAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarInfoAfiliadoResult" nillable="true" type="q65:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInfoAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="info" nillable="true" type="q66:infoAfiDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInfoAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearInfoAfiliadoResult" nillable="true" type="q67:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInfoAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="info" nillable="true" type="q68:infoAfiDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInfoAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarInfoAfiliadoResult" nillable="true" type="q69:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerInfoAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerInfoAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerInfoAfiliadoResult" nillable="true" type="q70:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarInfoAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarInfoAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarInfoAfiliadoResult" nillable="true" type="q71:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarInfoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarInfoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarInfoEmpleadoResult" nillable="true" type="q72:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInfoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="info" nillable="true" type="q73:infoEmpleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInfoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearInfoEmpleadoResult" nillable="true" type="q74:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInfoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="info" nillable="true" type="q75:infoEmpleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarInfoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarInfoEmpleadoResult" nillable="true" type="q76:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerInfoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerInfoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerInfoEmpleadoResult" nillable="true" type="q77:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarInfoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarInfoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarInfoEmpleadoResult" nillable="true" type="q78:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarEmpleadoResult" nillable="true" type="q79:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="employee" nillable="true" type="q80:empleadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearEmpleadoResult" nillable="true" type="q81:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="employee" nillable="true" type="q82:empleadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarEmpleadoResult" nillable="true" type="q83:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerEmpleadoResult" nillable="true" type="q84:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarEmpleadoResult" nillable="true" type="q85:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarAfiliadoResult" nillable="true" type="q86:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="employee" nillable="true" type="q87:afiliadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearAfiliadoResult" nillable="true" type="q88:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="employee" nillable="true" type="q89:afiliadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarAfiliadoResult" nillable="true" type="q90:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="leerAfiliadoResult" nillable="true" type="q91:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAfiliado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAfiliadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarAfiliadoResult" nillable="true" type="q92:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAfiliadoPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAfiliado" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idPaquete" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAfiliadoPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="listarAfiliadoPaqueteResult" nillable="true" type="q93:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAfiliadoPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="afiPa" nillable="true" type="q94:afiliadoPaqueteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAfiliadoPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="crearAfiliadoPaqueteResult" nillable="true" type="q95:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAfiliadoPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Freed.Servicios.DTO" minOccurs="0" name="afiPa" nillable="true" type="q96:afiliadoPaqueteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAfiliadoPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="actualizarAfiliadoPaqueteResult" nillable="true" type="q97:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAfiliadoPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarAfiliadoPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" minOccurs="0" name="eliminarAfiliadoPaqueteResult" nillable="true" type="q98:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>