Freed.Presentacion/Service References/FreedServices/FreedServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Freed.Servicios.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="messageDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="messageException" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response" nillable="true" type="tns:response" />
</xs:schema>