Freed.Presentacion/Service References/FreedServices/FreedServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.devtrends.co.uk/example/data" elementFormDefault="qualified" targetNamespace="http://schemas.devtrends.co.uk/example/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="grupoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="grupoDTO" nillable="true" type="tns:grupoDTO" />
</xs:schema>